@tailwind base;
@tailwind components;
@tailwind utilities;

.rogue {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-sans-mono-uniqueid {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}